<script src="/Scripts/jquery-1.10.2.js"></script>

<div class="container" id="inner-menu" style="display:none">
    <div class="row">
        <div class="card text-white bg-dark" style="width: 18rem;">
            <a href="/FoodType/FoodType"><img class="card-img-top" src="~/Images/restaurant.png" alt="Food" /></a>
            <hr />
            <div class="card-body">
                <h5 class="card-title text-center">Food Types</h5>
                <p class="card-text text-center">CRUD Module for Food Types.</p>
            </div>
            <div class="pos-f-t">
                <div class="collapse" id="foodTypesToggle">
                    <div class="p-4">
                        <hr class="bg-white" />
                        <button type="button" class="btn btn-outline-light btn-block" id="resetfoodtypescache">Reset Cache</button>
                    </div>
                </div>
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#foodTypesToggle" aria-controls="foodTypesToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
            </div>
        </div>

        <div class="card text-white bg-dark" style="width: 18rem;">
            <a href="/Noise/Noise"><img class="card-img-top" src="~/Images/error.png" alt="Noise Words" /></a>
            <hr />
            <div class="card-body">
                <h5 class="card-title text-center">Noise Words</h5>
                <p class="card-text text-center">CRUD Module for Noise Words.</p>
            </div>
            <div class="pos-f-t">
                <div class="collapse" id="noiseWordsToggle">
                    <div class="p-4">
                        <hr class="bg-white" />
                        <button type="button" class="btn btn-outline-light btn-block" id="resetnoisewordscache">Reset Cache</button>
                    </div>
                </div>
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#noiseWordsToggle" aria-controls="noiseWordsToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
            </div>
        </div>
    </div>
</div>

<script>
    if ($('.jumbotron').length > 0) {
        $('.jumbotron').fadeOut(function () {
            $('#inner-menu').fadeIn();
            $('.jumbotron').remove();
        });
    } else {
        $('#inner-menu').fadeIn();
    }
</script>