<h1>We won't use your data for anything but showing your products and notifying you when they are expiring. We will only do it in the app.
    The use of camera will be purely for scanning of products (barcodes and expiration dates).</h1>